
:is(.post, .post-content) p {
  margin-bottom: 1.2rem;
}

:is(.post, .post-content) hr {
  margin: 0;
  padding-bottom: 24px;
  padding-top: 8px;
}

:is(.post, .post-content) pre {
  display: block;
  background-color: var(--light-grey);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  white-space: pre;
  overflow-x: auto;
}

:is(.post, .post-content) pre > code {
  display: block;
  color: #ffffff;
  padding: 0;
  font-weight: 500;
  background: transparent;
  overflow-x: auto;
}


:is(.post, .post-content) :not(pre) > code {
  padding: 0.2rem 0.2rem;
  background-color: var(--light-grey);
  font-weight: 900;
  color: #ff5370; /* your inline code pink */
  border-radius: 2px;
}


:is(.post, .post-content) code::-webkit-scrollbar { width: 8px; height: 8px; }
:is(.post, .post-content) code::-webkit-scrollbar-track { padding: 8px; background: rgb(22, 23, 29); }
:is(.post, .post-content) code::-webkit-scrollbar-thumb { background: rgb(123, 123, 123); border-radius: 20px; }
:is(.post, .post-content) code:hover::-webkit-scrollbar-thumb { visibility: visible; }


:is(.post, .post-content) blockquote {
  margin: 0;
  overflow: hidden;
  min-height: auto;
}
:is(.post, .post-content) blockquote p { margin: 0; }


:is(.post, .post-content) img {
  display: block;
  max-width: 100%;
  height: auto;
}


:is(.post, .post-content) > *:last-child { margin-bottom: 0 !important; }


footer code,
footer kbd {
  background: #576268 !important; /* grey chip */
  color: #c4b5fd !important;       /* lavender text */
  padding: 1px 6px;
  border-radius: 0px;
}


footer p:nth-last-of-type(-n+3) {
  margin-top: 0.3rem !important;
  margin-bottom: 0 !important;
  line-height: 1.2;
}