<footer class="flex flex-col w-full pb-6">
    <hr />
    <p class="mb-3">Copyright {{ year }} Vishesh Choudhary.</p>
    <blockquote>
       When We Realize That Everything We Find Exotic, Liberating, Beautiful etc About Mysticisim Exist [Only] Within
       The Boundaries of Orthodoxy Then, Maybe, We'll be Redeemed.
    </blockquote>
    <p>Served by <code class="text-[#78e2a0]">/Xen</code></p> 
    <p>rustc version <code class="text-[#78e2a0]">{{ version }}</code></p>
    <p>See source code <a href="https://github.com/visheshc14/Xen">here</a>.</p>
</footer>
