<footer class="flex flex-col w-full pb-6">
    <hr />
    <p class="mb-3">Copyright {{ year }} Vishesh Choudhary.</p>
    <blockquote>
       Everybody's the same. People are all the same.
       But it's the prerogrative of youth to think it's not so. Everyone i've ever loved is here within these walls.
    </blockquote>
    <p>Served by <span class="text-lavender">{{ path }}</span></p>
    <p>rustc version <span class="text-lavender">{{ version }}</span></p>
    <p>See source code <a href="https://github.com/visheshc14/Xen">here</a>.</p>
</footer>